<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home Assistant - Welcome</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
<style>

body{
	width: 100%;
	height: 100%;
  	background: linear-gradient(100deg, #a9d1f1, #cfb9dc);
}

</style>
</head>
<body>
	<div class="main-container">
		<span class="txt anim-text-flow title">Welcome Home!</span>
		<div class="subtitle">
			<span>Initializing...</span>
		</div>
	</div>
	

</body>


<script type="text/javascript">
		onload=function(){
			setInterval(redirect_to_login, 3000)
		};
		function redirect_to_login() {
			location.href="/login/";
		}

</script>

</html>
