<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>Home Assistant - Log in or Sign Up</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
	<link rel="shortcut icon" href="{% static 'common/img/favicon.ico' %}" />
	<link rel="bookmark" href="{% static 'common/img/favicon.ico' %}" type="image/x-icon"　/>
<style>

</style>
</head>
<body>
	<div class="main-container">
		<div class="title">
			<h3>Sign in your account</h3>
		</div>
		<!-- login form -->
		<div class="loginForm">
    		<form action="/login/" method='post' id="login">
				<input id="user_name" type="text" name="user_name" placeholder="User Name">
				<input id="password" type="password" name="Password">
				<input id="password_confirm" type="password" name="Confirm Password">
				<input type="submit" value="Login">
				{% csrf_token %}
    		</form>
  		</div>
		<p>Don't have an acount?</p><a class="register_link" href="/register/">Sign up</a>

		<h4>{{ st.msg }}</h4>

	</div> <!-- main-container -->

</body>


<script type="text/javascript">

</script>

</html>
