<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>Home Assistant - Welcome</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
	<link rel="shortcut icon" href="{% static 'common/img/favicon.ico' %}" />
	<link rel="bookmark" href="{% static 'common/img/favicon.ico' %}" type="image/x-icon"　/>
	<script src="{% static 'common/js/jquery-3.6.0.min.js' %}"></script>
	<link href="{% static 'common/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'home/css/welcome.css' %}" rel="stylesheet" />
	<link href="{% static 'home/css/anim-text.css' %}" rel="stylesheet" />
</head>

<body>
	<div class="container">
		<span class="txt anim-text-flow title">Welcome Home!</span>
		<div class="subtitle">
				<span>Copyright © 2022 - 2032 Vincent Hu. All Rights Reserved</span>
		</div>
	</div>
	

</body>


<script src="{% static 'home/js/anim-text.js' %}"></script>
<script src="{% static 'home/js/welcome.js' %}"></script>

</html>
